
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 10px;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.sciList, .planetList {
  display: flex;
  flex-flow: row wrap;
}

.scicard, .planetCard {
  border: 1px solid grey;
}

.scicard img, .planetCard img {
  width: 100px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
